* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: "Carter One";
  /* border: solid red 1px; */
}
header{
  display: flex;
  flex-direction: column;
  /* border: solid black 2px; */
}
h1{
  text-align: center;
  color: #fcbf49;
  font-size: 42px;
  font-weight: 1000;
  text-shadow: 0px 3px 1px grey;
  -webkit-text-stroke: 3px #184e77;

  /* offset-x | offset-y | blur-radius | color */
}
html, body{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #52b69a;

}

#wrapper{
  max-width: 675px;
	position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* height: 400px; */
  min-width: 450px;
 }
 main{
   display: flex;
   flex-direction: column;
   flex: 0.75;
   
   justify-content: space-evenly;
 }

 #input-wrapper{
   display: flex;
   flex-direction: column;
 }

 #inner-wrapper{
   display: flex;
   justify-content: center;
   
 }

 #submit{
   margin-left: 5px;
   padding: 10px;
   border-radius: 5px;
   background-color: #99d98c;
   border: none;
 }

 #guess{
  margin-right: 5px;
  background-color: #99d98c;
  border: none;
 }

#lives{
  text-align: right;
  /* font-size: 18px; */
  /* flex: 0.5; */
}

#word{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  height: 45px;
  
}
.hide{
  color: transparent;
  
}
.hide:hover{
  color: transparent;
  user-select: none;
}
.hide::selection{
  color: transparent;
  user-select: none;
  color: none;
  background: none;
}
.unhide{
  color: black;
  text-decoration: none;
}

.guessWord{
  font-size: 18px;
  max-width: 30px;
  list-style: none;
  padding: 0 10px;
  text-align: center;
  margin-right: 5px;
  border-bottom: solid black 2px;

}
.word li{

}

#wrong-guess-wrapper{
  display: flex;
  justify-content: center;
  margin: 25px 0px;
  /* border: solid yellow 3px; */
  height: 25px;

}
#wrong-guess-wrapper s{
  margin: 0px 10px;
}

#region-wrapper{
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  
}

.region{
	position: relative;
  padding: 10px 15px;

  background-color: #99d98c;
  border-radius: 5px;
  border: none;

  /* color: #eee;
  /* background-color: #fcbf49; */

  /* background-image: linear-gradient(#fcbf49, #96732C);
  border: 3px solid #eee;
  border-radius: 10px;
  padding: 10px;

  font-size: 18px;
  font-weight: 900;
  -webkit-text-stroke: 1px black; */ 

}
.region:hover{
	bottom: 5px;
}

#info{
  /* margin-top: 15px; */
  /* text-align: center; */
  flex: 1;
}

#sprite-wrapper{
  text-align: center;
  height: 150px;
  
}

#info-wrapper{
  display: flex;
  margin-top: 25px;
  /* margin: 25px 8px 0px 8px; */
  height: 35px;
  
  /* flex-direction: row; */
  /* border: solid black 4px; */
}

#img-wrapper{
  display: flex;
  align-items: center;
}
#img-wrapper img{
  height: 60px;
  width: 60px;
  margin: 0 5px;
  
}